@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Flavor

<h1>Add a new flavor</h1>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Add" class="btn btn-outline-dark" />
}

<p>@Html.ActionLink("View all flavors", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>