@{
  Layout = "_Layout";
}

<h1>Welcome to Pierre's Sweet and Savory Treats!</h1>

<h3>@Html.ActionLink("Account", "Index", "Account")</h3>
<h3>@Html.ActionLink("View all sweets", "Index", "Sweets")</h3>
<h3>@Html.ActionLink("View all flavors", "Index", "Flavors")</h3>