@{
    Layout = "_Layout";
}

<h1>Account</h1>
<hr/>
@if (User.Identity.IsAuthenticated)
{
    <p>Welcome @User.Identity.Name!</p>
    @using (Html.BeginForm("SignOut", "Account"))
    {
        <input type="submit" value="Sign out" class="btn btn-outline-dark"/>
    }
}
else
{
    <p>@Html.ActionLink("Sign up", "SignUp")</p>
    <p>@Html.ActionLink("Sign in", "Login")</p>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>